.hero-area {
    background-image: url('R.jpg'); /* Voeg hier het pad naar je achtergrondafbeelding toe */
    background-size: cover; /* Zorgt ervoor dat de achtergrond de volledige div bedekt */
    background-repeat: no-repeat; /* Voorkomt herhaling van de achtergrond */
    background-position: center; /* Plaatst de achtergrond in het midden van de div */
    padding: 100px 0; /* Voeg wat padding toe naar wens */
}

.hero-text {
    padding-top: 400px; /* Pas deze waarde aan om de tekst verticaal te centreren */
}